.carousel-inner {
    max-height: 32rem;
}
footer{
    background-color: #0d6efd;
    min-height: 100px;
}
footer p {
    color: white;
    text-align: center;
}
#iconos i { 
    font-size: 25px;
padding: 0 8px;
color: white;
}
#contenedor-formulario {
    background-color: #0d6efd;
    border-radius: 5px;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#encuesta1 {
    background-color: #0d6efd;
    border-radius: 5px;
    max-width: 100%;
    width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    #encuesta1 {
        padding: 1rem;
        width: 90%;
        max-width: 100%;
    }
}

@media (min-width: 1024px) {
    #encuesta1 {
        width: 600px;
        padding: 3rem;
    }
}